{% extends "layout.html" %}
{% load i18n %}
{% block title %}Kích Hoạt Tài Khoản{% endblock title %}

{% block extrastylesheet %} 
{% endblock %}

{% block main_content %}
 {% if has_account %}
    <div class="contain-confirm">
        <div class="col-main pass-reset-done">
            <div class="form-forgot-pass">
                <div class="form-change-pass">
                    <h2>Kích hoạt thất bại</h2>
                    <div class='clearfix'></div>
                    <div class="note-forgot-pass note-pass-reset-done">
                        <p>
                           Lấy làm tiếc! Bạn đang đăng nhập với một tài khoản khác. Vui lòng đăng xuất trước khi nhấp vào liên kết kích hoạt.
                        </p>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endif %}
{% if key_wrong %}
    <div class="contain-confirm">
        <div class="col-main pass-reset-done">
            <div class="form-forgot-pass">
                <div class="form-change-pass">
                    <h2>Kích hoạt thất bại</h2>
                    <div class='clearfix'></div>
                    <div class="note-forgot-pass note-pass-reset-done">
                        <p>
                           Lấy làm tiếc! Đường dẫn kích hoạt tài khoản của bạn không đúng. Vui lòng kiểm tra lại đường dẫn.
                        </p>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endif %}

{% if active %}
    <div class="contain-confirm">
        <div class="col-main pass-reset-done">
            <div class="form-forgot-pass">
                <div class="form-change-pass">
                    <h2>Tài khoản của bạn đã được kích hoạt</h2>
                    <div class='clearfix'></div>
                    <div class="note-forgot-pass note-pass-reset-done">
                        <p>
                           Lấy làm tiếc! Liên kết đã được kích hoạt.
                        </p>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endif %}
{% if expired %}
    <div class="contain-confirm">
        <div class="col-main pass-reset-done">
            <div class="form-forgot-pass">
                <div class="form-change-pass">
                    <h2>Liên kết đã hết hạn</h2>
                    <div class='clearfix'></div>
                    <div class="note-forgot-pass note-pass-reset-done">
                        <p>
                           Lấy làm tiếc! Liên kết kích hoạt đã hết hạn. Vui lòng đăng ký lại để nhận một liên kết kích hoạt mới.
                        </p>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endif %}
{% if success %}
    <div class="contain-confirm">
        <div class="col-main pass-reset-done">
            <div class="form-forgot-pass">
                <div class="form-change-pass">
                    <h2>Bạn đã được xác nhận</h2>
                    <div class='clearfix'></div>
                    <div class="note-forgot-pass note-pass-reset-done">
                        <p>
                           Xin chúc mừng! Tài khoản của bạn đã được kích hoạt thành công.Quay lại trang chủ<a href="/"> tại đây</a>.
                        </p>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
{% endif %}
{% endblock %}