{% extends "layout.html" %}

{% load i18n %} 

{% block title %}CHANGE PASSWORD{% endblock title %}

{% block extrastylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/profile.css" >
{% endblock %}

{% block main_content %} 
<div class="main registration">
    <div class="container">
        <div class="row profile">

        	{% include 'registration/menu_profile.html' %}

        	<div class="col-md-9">
                <div class="profile-content">
        		   	<form action="{% url 'change_password' %}" method="post" autocomplete="off">
                        {% csrf_token %}

                        <div class="form-group">
                            <label>Mật Khẩu Cũ</label>
                            <div class="inline">
                                <input type="password" id="old_password" name="old_password" 
                                placeholder="Mật Khẩu Cũ" class="form-control">
                                {{ form.old_password.errors }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Mật Khẩu Mới</label>
                            <div class="inline">
                                <input type="password" name="new_password" id="new_password" class="form-control" placeholder="Mật Khẩu Mới">
                                {{ form.new_password.errors }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Nhập Lại Mật Khẩu Mới</label>
                            <div class="inline">
                                <input type="password" name="new_password2" id="new_password2" class="form-control" placeholder="Nhập Lại Mật Khẩu Mới">
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                        <p class="text-center">
                            <button type="submit" title="Lưu lại" class="btn btn-primary">Lưu lại</button>
                        </p>
                    </form>
                </div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
