{% extends "layout.html" %}

{% load i18n %}

{% block title %}Khôi phục mật khẩu{% endblock title %} 


{% block main_content %}
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <h2>Khôi phục mật khẩu</h2>
        <div class='clearfix'></div>
        <div class="note-forgot-pass note-pass-reset-done">
            <p>
                Chúng tôi đã gửi cho bạn các hướng dẫn để đặt mật khẩu của bạn, nếu tài khoản tồn tại với email bạn đã nhập. Bạn hãy đăng nhập email để thay đổi mật khẩu mới.
            </p>
            <p>
                Nếu bạn không nhận được email, vui lòng đảm bảo rằng bạn đã nhập địa chỉ mà bạn đã đăng ký là chính xác và kiểm tra thư mục spam trong email của bạn.
            </p>
        </div>
    </div>
</div>
{% endblock %}