{% extends 'layout.html' %}

{% load i18n %}

{% block title %}Đặt lại mật khẩu mới{% endblock title %} 

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/registration.css" />
{% endblock %}

{% block main_content %}
<div class="main registration">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                {% if validlink %}
                    <h2>Đặt lại mật khẩu mới</h2>
                    <br>

                    <p class="form-instructions"> * Vui lòng nhập mật khẩu mới của bạn vào ô bên dưới. Mật khẩu của bạn không được quá giống với các thông tin cá nhân khác của bạn, phải chứa ít nhất 8 ký tự, mật khẩu không nên thường được sử dụng, không thể hoàn toàn là số.</p>
                    <br>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <form action="#" method="post" id="form-validate">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="id_new_password1">Mật khẩu mới:</label>
                                <input id="id_new_password1" name="new_password1" type="password" required="" placeholder="Nhập Mật Khẩu Mới" class="form-control"> 
                            </div>

                            <div class="form-group">
                                <label for="id_new_password2">Xác nhận mật khẩu mới:</label>
                                <input id="id_new_password2" name="new_password2" type="password" required="" placeholder="Nhập Lại Mật Khẩu Mới" class="form-control">
                            </div>

                            <button type="submit" title="Gửi đi" class="btn btn-primary">Xác nhận thay đổi</button>
                        </form>
                    </div>
                {% else %}
                    <h2>Liên kết Không hợp lệ</h2>
                    <div class="note-forgot-pass note-pass-reset-done">
                        <p>
                            Liên kết đặt lại mật khẩu không hợp lệ, có thể bởi vì nó đã được sử dụng. Vui lòng đặt lại mật khẩu mới.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}