{% extends 'layout.html' %}

{% load i18n %}

{% block title %}Mật khẩu thay đổi thành công{% endblock title %} 

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/registration.css" />
{% endblock %}

{% block main_content %}
<div class="main registration">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2>Mật khẩu thay đổi thành công</h2>
                <div class='clearfix'></div>
                <div class="note-forgot-pass note-pass-reset-done">
                    <p>
                        Mật khẩu của bạn đã được đặt. Bạn có thể tiếp tục và <a href="{% url 'login' %}">đăng nhập</a> ngay bây giờ.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}