{% load i18n %} 
{% autoescape off %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thiết lập lại mật khẩu tài khoản Metiz.</title>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/css/password_reset_email.css?version={{BUILD_VERSION}}"></script>
  </head>
  <body class="">
    <table id="tb_welcome" style="" cellpadding="0" cellspacing="0" class="tb_welcome">
      <tbody>
          <tr>
              <td colspan="2" class="padding-logo" align="left" valign="top"><img alt="Metiz Cinema" src="{{protocol}}://{{ domain }}/static/assets/websites/images/logo_bottom.png" class="img-logo"></td>
          </tr>
          <tr>
              <td colspan="2" class="sperator-header" align="center" valign="middle">
                  <hr >
              </td>
          </tr>
          <tr>
              <td colspan="2" class="padding-40" align="left" valign="top">Để đặt lại mật khẩu cho tài khoản  {{ user.email }} của bạn. Vui lòng nhấn vào liên kết dưới đây:</td>
              
          </tr><br>
          <tr>
            <td colspan="2" class="padding-40" align="left" valign="top"><span class="site_url font-20" id="site_url" ><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="activation" target="_blank" >Đặt lại mật khẩu</a></span></td>
          </tr><br>
          <tr>
            <td colspan="2" class="padding-40" align="left" valign="top"><span class="site_url" id="site_url"></span>Nếu nhấp vào liên kết ở trên không hoạt động, hãy sao chép và dán URL vào cửa sổ trình duyệt mới thay thế.</td>
          </tr><br>
          <tr>
            <td colspan="2" class="padding-40" align="left" valign="top"><span class="site_url" id="site_url"></span> Cảm ơn bạn đã đăng ký và chào mừng bạn đến với Metiz!</td>
          </tr>
          <tr>
              <td colspan="2" class="sperator-footer" align="left" valign="top">
                  <hr>
              </td>
          </tr>
          <tr>
              <td colspan="2" class="footer1" align="left" valign="top">
              <span class="padding-content">Trân trọng,</span>
              <br/>
              <span class="padding-content">The Metiz Team</span></td>
          </tr>
      </tbody>
  </table>
  </body>
</html>
{% endautoescape %}