{% extends "layout.html" %}

{% load i18n %} 

{% block title %}PROFILE {% endblock title %}

{% block extrastylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/profile.css" >
{% endblock %}

{% block main_content %} 
<div class="row profile">

	{% include 'registration/menu_profile.html' %}

	<div class="col-md-9">
        <div class="profile-content">
		   	<form action="{% url 'profile' %}" method="POST" role="form">
                <legend class="text-center">Register</legend>

                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class="form-group">
                    <label for="">Full name</label>
                    <input type="text" class="form-control" name="full_name"
                        value="{%if full_name %}{{ full_name }}{% endif %}"
                    >
                    {{ form.full_name.errors }}
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gender" id="gender" value="male" checked="checked" {% if gender == "male" %}checked{% endif %}> Male
                        <input class="form-check-input" type="radio" name="gender" id="gender" value="female" {% if gender == "female" %}checked{% endif %}> Female
                      </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" class="form-control" name="phone"
                        value="{% if phone %}{{ phone }}{% endif %}"
                    >
                    {{ form.phone.errors }}
                </div>

                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="email"
                        value="{% if email %}{{ email }}{% endif %}"
                    >
                    {{ form.email.errors }}
                </div>
            
                <div class="form-group">
                    <label for="">Birth Date</label>
                    <input type="text" class="form-control" name="birth_date"
                        value="{% if birth_date %}{{ birth_date| date:'d-m-Y' }}{% endif %}"
                    >
                    {{ form.birth_date.errors }}
                </div>

               	<div class="form-group">
                    <label for="">Address</label>
                   <textarea name="address" id="address" placeholder="{% trans 'Enter Address Here..' %}" rows="3" class="form-control">{% if address %}{{ address }} {% endif %}</textarea>
                    {{ form.address.errors }}
                </div>
                
                <p class="text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </p>
            </form>
        </div>
	</div>
</div>
{% endblock %}
