{% extends "layout.html" %}

{% load i18n %} 

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/registration.css" />
{% endblock %}

{% block title %}REGISTER{% endblock title %}

{% block main_content %} 
<div class="main registration">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <form action="{% url 'register' %}" method="POST" role="form">
                    <legend class="text-center">Register</legend>

                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    <div class="form-group">
                        <label for="">Full name</label>
                        <input type="text" class="form-control" name="full_name"
                            value="{%if full_name %}{{ full_name }}{% endif %}"
                        >
                        {{ form.full_name.errors }}
                    </div>

                    <div class="form-group">
                        <label>Gender</label>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" id="gender" value="male" checked="checked" {% if gender == "male" %}checked{% endif %}> Male
                            <input class="form-check-input" type="radio" name="gender" id="gender" value="female" {% if gender == "female" %}checked{% endif %}> Female
                          </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Phone</label>
                        <input type="text" class="form-control" name="phone"
                            value="{% if phone %}{{ phone }}{% endif %}"
                        >
                        {{ form.phone.errors }}
                    </div>

                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" name="email"
                            value="{% if email %}{{ email }}{% endif %}"
                        >
                        {{ form.email.errors }}
                    </div>
                
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password1">
                        {{ form.password1.errors }}
                    </div>
                    <div class="form-group">
                        <label for="">Password confirm</label>
                        <input type="password" class="form-control" name="password2">
                        {{ form.password2.errors }}
                    </div>
                    
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
