{% extends "layout.html" %}

{% load i18n %} 
{% load modal_data_tags %}

{% block title %}Products{% endblock title %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/products.css" />
{% endblock %}

{% block extrascript %}
    <script src="{{ STATIC_URL }}assets/websites/js/products.js" type="text/javascript"></script>
{% endblock %}

{% block main_content %} 
<div class="container list-product">
    <div class="header-navigate clearfix mb15">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
                    <ol class="breadcrumb breadcrumb-arrow">
                        <li><a href="/" target="_self">Home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li class="active"><span>Products</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section id="collection" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="wrap-filter clearfix mb15">
                    <div class="group-collection" aria-expanded="true">
                        <div class="title-block dropdown-filter">
                            <h3 class="title-group">CATEGORIES</h3>
                            <i class="fa fa-minus flexbox-grid-default flexbox-justifyContent-center flexbox-alignItems-center" aria-hidden="true"></i>
                        </div>
                        <div class="filter-box">
                            <ul id="menusidebarleft" class="menu-collection clearfix mb15">
                                {% for item in categories %}
                                    <li class="">
                                        <a href="{% url 'products' %}?category={{item.id}}" title="{{item.name}}">{{item.name}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12 pd5">
                        <div class="group-collection title-list-product">
                            <div class="title-block">
                                <h1 class="title-group">All Products</h1>
                                <div class="browse-tags pull-right">
                                    <span class="mr5">Search by:</span>
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="sort-by form-control">

                                            <option 
                                                value="{% url 'products' %}"
                                                {% if not sort %}selected{% endif %}
                                            >ALL</option>>
                                            <option 
                                                value="{% url 'products' %}?sort=hot" 
                                                {% if sort == 'hot' %}selected{% endif %}
                                            >HOT</option>
                                            <option 
                                                value="{% url 'products' %}?sort=promotion"
                                                {% if sort == 'promotion' %}selected{% endif %}
                                            >PROMOTION</option>
                                        </select>
                                    </span>
                                </div>
                                
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="row product-lists product-item box-product-lists" id="event-grid">
                    {% for item in products %}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 product-wrapper product-resize fixheight">
                            <div class="product-information">
                                <div class="product-detail clearfix">
                                    {% if item.hot %}
                                        <img class="hot" src="{{ STATIC_URL }}assets/websites/images/hot.png" alt="Hot">
                                    {% endif %}
                                    <div class="product-image image-resize" >
                                        <a href="{% url 'product_detail' item.id %}" title="{{item.name}}">
                                            <picture>
                                                <img src="{{ MEDIA_URL }}{{item.image}}" alt="{{item.name}}">
                                            </picture>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <a href="{% url 'product_detail' item.id %}" title="{{item.name}}">
                                            <h2>{{item.name}}</h2>
                                        </a>
                                        <p class="product-vendor">{{item.category.name}}</p>
                                        
                                        <div class="hook-reviews">
                                            <span class="rating">
                                                {{ item.avg_rate|rating_product }}
                                            </span>
                                        </div>
                                        <p class="product-box-price clearfix flexbox-grid-default">  
                                            <span class="price-new flexbox-content text-left">
                                            {{ item.unit_price|currency }}₫</span>
                                            <span class="pull-right">
                                                <a class="btn view-product" href="{% url 'product_detail' item.id %}">
                                                    View Detail <i class="fas fa-long-arrow-alt-right"></i>
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-center col-xs-12">
                        {% if products.has_other_pages %}
                                <ul class="pagination">
                                {% if products.has_previous %}
                                    <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                    <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>                             
                </div>                                                                                                  
            </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
