<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12"><p class="bd-top-footer"></p></div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p class="title-footer">Contact</p>
                <p><i class="fa fa-phone"></i> +44 (0)161 832 5575</p>
                <p><i class="fa fa-envelope"></i> enquiries@thechase.co.uk</p>
            </div>
            <div class="col-xs-4 col-sm-5 col-md-6">
                <iframe width="100%" frameborder="0" style="border:0" style="line-height: " src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAA-Ck93lFyP6N_jY2ZVcRaSO8qoffNQiE&q=place_id:ChIJYeE3y-gZQjERYEzThKfE9bI" allowfullscreen>
                </iframe>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-3 footer-social">
                <p class="title-footer">Connect</p>
                <ul> 
                    <li><a href="#" class="footer-facebook" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href="#" class="footer-google" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="footer-youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <p>CAKE SHOP © 2018</p>
            </div>
        </div>
    </div>
</div>
<button title="Go to top" class="scrollToTop"><i class="fa fa-chevron-up"></i></button>