{% load i18n %}

<header>
    <div id="top-bar-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 top-bar-hotline">
                    <span class="top-bar-hotline"><i class="fa fa-phone"></i> HOTLINE:</span> 093 633 6806
                </div>
                <div class="col-xs-6 col-sm-6 top-bar-social">
                    <ul class="pull-right"> 
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom-bar-wrap">
        <div class="container">
            <div class="row middle-bar">
                <img src="{{ STATIC_URL }}assets/websites/images/store_1514252913_443.png" alt="">
            </div>
        </div>
    </div>
</header>